<div class="p-d-flex p-flex-column p-shadow-5">
    <div class="p-d-flex p-row p-flex-md-row    ">
        <div class="p-mb-2 p-order-lg-5 p-mr-2 " style="padding: 20px; margin-right: 20px;margin-left: 20px;">Status
            <div><i class="pi pi-circle-on" style="font-size: .5rem; color: #339946;"></i><span
                    style="color:#339946; font-weight: bold ;">Active</span></div>
        </div>
        <div class="p-mb-2 p-order-lg-5 p-mr-2 " style="padding: 20px; margin-right: 20px;margin-left: 20px;">Credit
            Status
            <div><i class="pi pi-circle-on" style="font-size: .5rem; color: #339946;"></i><span
                    style="color:#339946;">Active</span></div>
        </div>
        <div class="p-mb-2 p-order-lg-5 p-mr-2 " style="padding: 20px; margin-right: 20px;margin-left: 20px;">HQ
            Location
            <div>ATMORE-AL 36502 (UTC-06:00)
            </div>
        </div>
        <div class="p-mb-2 p-order-lg-5 p-mr-2 " style="padding: 20px; margin-right: 20px;margin-left: 20px;">Account
            Manager
            <div style="color:rgb(182, 8, 8);">John Doe</div>
        </div>
        <div class="p-mb-2 p-order-lg-5 p-mr-2 " style="padding: 20px; margin-right: 20px;margin-left: 20px;">Last Order
            Date
            <div>04/23/2020</div>
        </div>
        <div class="p-mb-2 p-order-lg-5 p-mr-2 " style="padding: 20px; margin-right: 20px;margin-left: 20px;">Nature of
            Relationship
            <div>Conservative</div>
        </div>
    </div>

    <div class="p-d-flex p-row p-flex-md-row">
        <div class="p-mr-2" style="padding: 20px;">
            <span style="font-weight: bold;">Credit Department Memo</span>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                    interdum,
                    nisi lorem egestas vitae scel<span id="dots">...</span><span id="more">erisque enim ligula venenatis
                        dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum
                        augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero
                        sed
                        nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis.
                        Integer
                        fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</span></p>
            </div>

        </div>
        <div class="p-mr-2" style="padding: 20px; ">
            <button _ngcontent-jvo-c54="" pbutton="" pripple="" type="button" label="Secondary"
                class="p-button-secondary p-ripple p-button p-component"
                style="background-color: rgb(94, 53, 53); color: #fff;"><span class="p-button-label">Create New
                    Quote</span><span class="p-ink"
                    style="height: 94px; width: 94px; top: -28px; left: -4.92188px;"></span></button>


        </div>
        <div class="p-mr-2" style="padding: 20px; ">
            <p-dropdown [options]="options" [(ngModel)]="selectedoption" placeholder="Other Options" optionLabel="name"
                 ></p-dropdown>
        </div>

    </div>
</div>