

<div class="p-d-flex p-flex-column p-shadow-5 flex-container" >
    <div class="p-d-flex p-row p-flex-md-row  p-jc-xl-around qflex-padding">
        <div class="p-mb-2 p-order-lg-5 p-mr-2 qfilter">
            <p-button label="Available" icon="pi pi-check-circle" badge="32" badgeClass="p-badge-danger"></p-button>
        </div>
        <div class="p-mb-2 p-order-lg-5 p-mr-2 qfilter">
            <p-button label="Counteroffer" icon="pi pi-tag"  badge="2" badgeClass="p-badge-danger"></p-button>
        </div>
        <div class="p-mb-2 p-order-lg-5 p-mr-2 qfilter">
            <p-button label="Accepted" icon="pi pi-thumbs-up"  badge="12" badgeClass="p-badge-danger"></p-button>
        </div>
        <div class="p-mb-2 p-order-lg-5 p-mr-2 qfilter">
            <p-button label="Rejected" icon="pi pi-thumbs-down"  badge="10" badgeClass="p-badge-danger"></p-button>
        </div>
        <div class="p-mb-2 p-order-lg-5 p-mr-2 qfilter">
            <p-button label="Expired" icon="pi pi-exclamation-triangle"  badge="6" badgeClass="p-badge-danger"></p-button>
        </div>
        <div class="p-mb-2 p-order-lg-5 p-mr-2 qfilter">
            <p-button label="Canceled" icon="pi pi-ban"  badge="5" badgeClass="p-badge-danger"></p-button>
        </div>
        <div class="p-mb-2 p-order-lg-5 p-mr-2 qfilter">
            <p-button label="All" icon="pi pi-list"  badge="5" badgeClass="p-badge-danger"></p-button>
        </div>
    </div>
</div>
<div class="container">
<p-card     styleClass="p-card-shadow" *ngFor="let client of clients;" class="card">
  <!--  <ng-template pTemplate="header"> -->
        <div class="p-d-flex card-container">
            <div class="p-d-flex p-flex-column col1flex" >
                <div class="p-d-flex p-row p-flex-xl-row   p-jc-between">
                    <div class="p-mb-2 p-order-xl-6 p-mr-2 rowFields1">Tender #
                        <div> {{client.phone}}
                        </div>
                    </div>

                    <div class="p-mb-2 p-order-xl-6 p-mr-2 rowFields">Status
                        <div>
                            <i class="pi pi-circle-on"></i>
                            <span>{{client.username}}</span>
                        </div>
                    </div>

                    <div class="p-mb-2 p-order-xl-6 p-mr-2 rowFields">Expires
                        in
                        <div > 36 Min
                        </div>
                    </div>

                    <div class="p-mb-2 p-order-xl-6 p-mr-2 rowFields">Offer
                        Rate
                        <div ><span class="span2">${{client.id}}</span></div>
                    </div>
                </div>
                <!------------    row2 flex            -->

                <div class="p-d-flex p-row p-flex-xl-row  p-jc-between">
                    <div class="p-mb-2 p-order-xl-6 p-mr-2 lefticon">
                        <i class="pi pi-arrow-circle-right"></i>
                    </div>
                    <div class="p-mb-2 p-order-xl-6 p-mr-2 leftLine" >
                        --------------------------------------------------------------------------------
                    </div>

                    <div class="p-mb-2 p-order-xl-6 p-mr-2 midicon">
                        <i class="pi pi-ticket"></i> 
                        <span>Ftl Dry Van</span>
                    </div>

                    <div class="p-mb-2 p-order-xl-6 p-mr-2 rightLine">
                        -------------------------------------------------------------------------------->
                    </div>

                    <div class="p-mb-2 p-order-xl-6 p-mr-2 righticon">
                        <i class="pi pi-map-marker" ></i>
                    </div>
                </div>

                <!------------    row3 flex            -->

                <div class="p-d-flex p-row p-flex-xl-row  p-jc-between">

                    <div class="p-mb-2 p-order-xl-6 p-mr-2 leftinfo">
                        <div class="text-origin">New York, NY </div>
                        <div style="color: #767676; "> 01/01/21 05:35 ET
                        </div>
                    </div>
                    <div class="p-mb-2 p-order-xl-6 p-mr-2 midinfo">
                        <i class="pi pi-map" ></i> 570 Miles | 
                        <i class="pi pi-clone"></i> 4 Loads 8 Stops | 
                        <i class="pi pi-briefcase"></i> 25,000 Lbs.
                    </div>
                    <div class="p-mb-2 p-order-xl-6 p-mr-2 rightinfo">
                        <div class="text-destination">Minneapolis, Mn </div>
                        <div style="color: #767676; "> 01/02/21 08:12 ET
                        </div>
                    </div>


                </div>

            </div>
        <!------------    col2 flex   ------------>
            <div class="p-d-flex p-row p-flex-xl-row  p-jc-between">
                <div class="p-mb-2 p-order-xl-6 p-mr-2 actions" >
                    <div><i class="pi pi-check-circle"></i></div>
                    <div>Acknowledge</div>
                </div>
                <div class="p-mb-2 p-order-xl-6 p-mr-2 actions" >
                    <div><i class="pi pi-check"></i></div>
                    <div>Accept</div>
                </div>
                <div class="p-mb-2 p-order-xl-6 p-mr-2 actions" >
                    <div><i class="pi pi-ellipsis-h"></i></div>
                    <div>More</div>
                </div>
            </div>
        </div>
    
        <!------------------------------------------------------------------------------------------->

  <!-- </ng-template>  -->
    
</p-card>
</div>