*:not(i){
    font-family: 'Roboto', sans-serif;
    
}
.text-origin, .text-destination{
    font-weight: bold;
}
.container{
    background-color: #e8e8e8;
}
.flex-container{
    margin-top: 5px; background-color: #e8e8e8;
}
.qflex-padding{
    padding: 10px; 
}

p-card{
    width: 1850px;
    border: 1px solid #e8e8e8 ;
    border-radius: 250px;
}
.card-container{
    width: auto;
    
}
.qpi{
    color: #B61920;
    padding: 8px;
}
.card{
    display: inline-block;
    margin: 20px;
    border: 1px solid #e8e8e8 ;
    border-radius: 105px;
}
.col1flex{
    margin-right: 40px; 
    border-right: 2px solid #767676;
}
.rowFields{
    padding: 20px 40px 20px 40px; 
    margin-right: 40px;
    margin-left: 40px; 
    color: #767676;
}
.rowFields div{
    color: #000000;
}
.rowFields div span{
    color:#000000; font-weight: bold ;
}
.rowFields div i{
    font-size: .6rem; color: #339946;padding-right: 4px;
}
.rowFields1{
    padding: 20px; 
    margin-right: 40px;
    margin-left: 10px; 
    color: #767676;
}
.rowFields1 div{
    color: #000000;
}
.span2{
    color:#339946; font-weight: bold ;
}
.lefticon{
    padding: 20px; padding-right: 0; margin-left: 10px; color: #767676;
}
.lefticon i{
    color: #bd2f36;
}
.leftLine{
    color: #767676; padding-top: 18px;
}
.midicon{
    color: #767676; padding-top: 18px; border: 1px solid #767676; border-radius: 25px; 
}
.midicon i{
    color: #767676; padding:4px; margin-right: 4px;
}
.midicon span{
    margin-right: 10px;
}
.rightLine{
    color: #767676; padding-top: 18px; 
}
.righticon{
    padding-top: 20px; color: #767676;
}
.righticon i{
    color: #bd2f36;
}

.leftinfo{
    padding: 20px; margin-right: 40px;margin-left: 10px ;
}
.midinfo{
    padding: 20px; 
    margin-right: 40px;
    margin-left: 10px; 
    color: #767676 ;
}
.midinfo i{
    color: #767676 ;
}
.rightinfo {
    padding: 20px; margin-right: 40px;margin-left: 10px ;
}
.actions{
    padding: 20px; 
    margin-right: 40px;
    margin-left: 40px ; 
    margin-top: 80px;
   
}


