
<div class="p-d-flex p-flex-row p-shadow-5" style="border: 0.5px solid #b9b9b9;">

<p-table #dt [value]="customers" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true"
            [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
            [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [filterDelay]="0" [globalFilterFields]="['userId','id','title','body']" >
            <ng-template pTemplate="caption">
                <div class="table-header">
                    <span><i class="pi pi-users"></i>Company Contacts</span>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
                    </span>
                </div>
                
            </ng-template>
            
            <ng-template pTemplate="header" style="border: 0.5px solid #b9b9b9;">
                <tr>
                    
                    <th pSortableColumn="userId">Account Manager<p-sortIcon field="userId"></p-sortIcon></th>
                    <th pSortableColumn="id">Role <p-sortIcon field="id"></p-sortIcon></th>
                    <th pSortableColumn="title">Contact <p-sortIcon field="title"></p-sortIcon></th>
                    <th pSortableColumn="body">Email <p-sortIcon field="body"></p-sortIcon></th>
                    <th pSortableColumn="body">Classification <p-sortIcon field="body"></p-sortIcon></th>
                    <th pSortableColumn="activity">Action <p-sortIcon field="activity"></p-sortIcon></th>
                    
                </tr>
                <tr>
                    
                    <th>
                        <input pInputText type="text" (input)="dt.filter($event.target.value, 'userId', 'startsWith')" placeholder="Search by Manager" class="p-column-filter">
                    </th>
                    <th>
                        <input pInputText type="text" (input)="dt.filter($event.target.value, 'id', 'contains')" placeholder="Search by Role" class="p-column-filter">
                    </th>
                    <th>
                        <input pInputText type="text" (input)="dt.filter($event.target.value, 'title', 'contains')" placeholder="Search by Contact" class="p-column-filter">
                    </th>
                    
                    <th>
                        <input pInputText type="text" (input)="dt.filter($event.target.value, 'body', 'contains')" placeholder="Search Email" class="p-column-filter">
                    </th>
                    <th>
                        <input pInputText type="text" (input)="dt.filter($event.target.value, 'body', 'contains')" placeholder="Search by Classification" class="p-column-filter">
                    </th>
                    
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer>
                <tr class="p-selectable-row">
                    
                    <td>
                        <span class="p-column-title">Name</span>
                        {{customer.userId}}
                    </td>
                    <td>
                        <span class="p-column-title">Country</span>
                        <span class="image-text">{{customer.id}}</span>
                    </td>
                    <td>
                        <span class="p-column-title">Representative</span>
                        <span class="image-text">{{customer.title}}</span>
                    </td>
                    <td>
                        <span class="p-column-title">Date</span>
                        {{customer.body}}
                    </td>
                    <td>
                        <span class="p-column-title">Status</span>
                        <span [class]="'customer-badge status-' + customer.status">{{customer.body}}</span>
                    </td>
                    
                    <td style="text-align: center">
                        <button pButton type="button" class="p-button-secondary" icon="pi pi-cog"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No customers found.</td>
                </tr>
            </ng-template>
        </p-table>

    </div>







